
body{
	background-color: #051d3b;
}

input::placeholder{

	color: #f9f8f7;
	font-size: 12px;
	font-family: inter;
}

textarea::placeholder	{

	color: #f9f8f7;
	font-size: 12px;
	font-family: inter;
}

.campo{

	width: 95%;
	padding: 2.5%;
	border-radius: 5px;
	background-color: #2d415a;
	border: none;
	color: white;
	font-family: Inter;	
}



.container__principal{

	display: flex;
	justify-content: space-between;
}













